/* 水平テーブル
------------------------------------------------------ */
@use "../abstracts/mixins.scss" as mixin;
@use "../abstracts/variables.scss" as val;
.horizontalTable {
    &__inner {
        width: 100%;
    }
    &__row {
        border-top: 1px solid val.$cGray2;
    }
    &__row:last-child {
        border-bottom: 1px solid val.$cGray2;
    }
    &__header {
        width: 30%;
        padding: 20px;
        font-weight: bold;
    }
    &__text {
        width: 70%;
        padding: 20px;
    }
}