/* breadcrumb
------------------------------------------------------ */
@use "../abstracts/mixins" as mixin;
@use "../abstracts/variables" as val;
.breadcrumb {
    color: val.$cText;
    background-color: #F8F8F8;
    &__inner {
        max-width: val.$width;
        padding: 20px 20px;
        margin-right: auto;
        margin-left: auto;
        span {
            margin-right: 0.3em;
            &:not(:first-child) {
                margin-left: 0.3em;
            }
            a {
                color: inherit;
            }
        }
    }
}

