/* ヘッダー
------------------------------------------------------ */
@use "../abstracts/variables" as val;
@use "../abstracts/mixins.scss" as mixin;

.header {
    width: 100%;
    height: 90px;
    padding: 20px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    &__logo {
        img {
            width: 43px;
            height: 50px;
        }
    }
    &._fixed {
        position: fixed;
        z-index: 1;
    }
    &--bg {
        background-color: purple;
    }
}

@include mixin.medium {
    .header {
        height: 100px;
        padding-right: 60px;
        padding-left: 60px;
        &__logo {
            img {
                width: 53px;
                height: 60px;
            }
        }
    }
}