@use "../abstracts/variables" as val;
@use "../abstracts/mixins" as mixin;

/*----------------------------------------
	base
----------------------------------------*/
html {
    scroll-behavior: smooth;
    line-height: 1.8;
}
body {
    color:val.$cText;
    font-family: val.$fontSans;
    overflow-x: hidden;
    overflow-y: auto;
}

button {
    display: block;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}